.extra-goods {
    padding: 0 0 35px;
  
    @include tablet {
      padding-bottom: 75px;
    }
  
    @include desktop {
      padding-bottom: 85px;
    }
  }
  
  .extra-goods__wrapper {
    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }
  
  .extra-goods__title {
    margin: 29px 0 33px;
    position: relative;
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
    background-image: linear-gradient(to bottom, transparent 0, transparent 13px, $green 13px, $green 16px, transparent 16px, transparent 100%);
  
    span {
      display: inline-block;
      padding: 0 20px;
      background-color: #ffffff;
    }
  
    @include tablet {
      margin-top: 37px;
      margin-bottom: 80px;
      padding: 0 calc((100vw - 708px) / 2);
      font-size: 36px;
      background-image: linear-gradient(to bottom, transparent 0, transparent 22px, $green 22px, $green 25px, transparent 25px, transparent 100%);
  
      span {
        padding: 0 36px;
      }
    }
  
    @include desktop {
      margin-top: 45px;
      padding: 0 calc((100vw - 1300px) / 2);
    }
  }
  
  .extra-goods__list {
    @include reset-list;
    margin-bottom: 39px;
  
    @include tablet {
      margin-bottom: 69px;
    }
  
    @include desktop {
      margin-bottom: 0;
    }
  }
  
  .extra-goods__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 17px;
    border-bottom: 1px solid $border-grey;
    max-width: 634px;
    margin: 0 auto;
  
    &:first-child {
      border-top: 1px solid $border-grey;
    }
  
    @include tablet {
      max-width: 708px;
      padding: 16px 36px 12px;
      border-left: 1px solid $border-grey;
      border-right: 1px solid $border-grey;
      align-content: center;
      align-items: center;
    }
  
    @include desktop {
      max-width: 895px;
      min-width: 895px;
      padding: 15px 0 16px;
      border-left: 0;
      border-right: 0;
    }
  }
  
  .extra-goods__name {
    margin: 13px 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #222222;
  
    @include tablet {
      margin: 10px 0 10px;
      font-size: 20px;
    }
  
    @include desktop {
      width: 32%;
    }
  }
  
  .extra-goods__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    margin-bottom: 11px;
  
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: $darkgrey;
  
    @include tablet {
      width: auto;
      margin-top: 8px;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 1.5;
    }
  
    @include desktop {
      width: 34%;
    }
  }
  
  .extra-goods__price {
    flex-shrink: 0;
    width: 95px;
    text-align: right;
  
    @include desktop {
      text-align: left;
      width: 80px;
      margin-right: 20px;
    }
  }
  
  .extra-goods__btn {
    min-width: 280px;
    max-width: 768px;
    flex: 1 0 100%;
    margin: 0 auto;
  
    @include tablet {
      margin: 15px 0;
    }
  
    @include desktop {
      margin: 0;
      flex: 0 0 245px;
      min-width: 245px;
    }
  }
  