.more-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .more-products__link-icon {
    width: 30px;
    height: 30px;
    margin: 25px 0;
    position: relative;
  
    &:hover .more-products__icon {
      opacity: 1;
      transition: all 0.35s ease-in;
    }
  
    &:active .more-products__icon {
      opacity: 0.6;
      transition: all 0.1s ease-in;
    }
  
    &:hover .more-products__icon::before,
    &:hover .more-products__icon::after {
      background-color: $green;
      transition: all 0.35s ease-in;
    }
  
    &:active .more-products__icon::before,
    &:active .more-products__icon::after {
      background-color: $green;
      transition: all 0.1s ease-in;
    }
  
    @include tablet {
      margin: 15px 0 17px;
      width: 60px;
      height: 60px;
    }
  }
  
  .more-products__icon {
    width: 100%;
    height: 100%;
    opacity: 0.2;
  
    &::before,
    &::after {
      @include v-center();
  
      display: block;
      width: 100%;
      height: 2px;
      background-color: #222222;
    }
  
    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  
    @include tablet {
      &::before,
      &::after {
        height: 4px;
        background-color: #818181;
      }
    }
  }
  
  .more-products__link-title {
    margin: 0;
    padding-bottom: 6px;
  
    &:hover .more-products__title {
      text-shadow: 2px -2px 17px $green;
      transition: text-shadow 0.3s ease-in;
    }
  
    &:active .more-products__title {
      color: rgba(17, 17, 17, 0.5);
      text-shadow: none;
      transition: color 0.1s ease-in;
    }
  
    @include tablet {
      margin: 30px auto 20px;
      width: 60%;
    }
  
    @include desktop {
      width: 100%;
    }
  }
  
  .more-products__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
  
    @include tablet {
      font-size: 20px;
    }
  }
  
  .more-products__text {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 12px;
    font-family: "Arial", sans-serif;
    line-height: 18px;
  
    @include tablet {
      width: 170px;
      font-size: 16px;
      line-height: 20px;
    }
  }
  
  .more-products__btn {
    margin-top: auto;
  }
  