.product__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  
    max-width: 480px;
    margin: 0 auto;
  
    @include tablet {
      flex-direction: column;
    }
  }
  
  .product__link-img {
    display: flex;
    flex: 1 0 auto;
  
    @include tablet {
      height: 118px;
      width: 100%;
      padding-bottom: 33px;
      align-items: flex-end;
    }
  }
  
  .product__img {
    display: flex;
    justify-content: center;
    flex: 4 0 50%;
    height: auto;
  
    &:hover {
      transform: translateY(4px) scale(1.05);
      transition: transform 0.5s ease-in-out;
    }
  
    &:active {
      transform: scale(0.9);
      transition: transform 0.2s ease-in-out;
    }
  
    @include tablet {
      &:hover {
        transform: translateY(10px) scale(1.1);
        transition: transform 0.5s ease-in-out;
      }
  
      &:active {
        transform: translateY(10px) scale(0.9);
        transition: transform 0.2s ease-in-out;
      }
    }
  
    & > picture {
      margin-left: -40px;
      margin-right: -40px;
    }
  
    & > picture img {
      @include tablet {
        width: 100%;
        height: auto;
      }
    }
  }
  
  .product__content {
    flex: 0 0 37%;
    min-width: 140px;
    max-width: 165px;
    z-index: 2;
  
    @include tablet {
      align-self: stretch;
      padding-top: 2px;
      background-color: $grey;
  
      flex: 1 0 auto;
      max-width: unset;
    }
  }
  
  .product__link-title {
    color: #222222;
  
    &:hover .product__title {
      color: $green;
    }
  
    &:active .product__title {
      opacity: 0.6;
      color: $green;
    }
  }
  
  .product__title {
    width: 100%;
    max-width: 102px;
    padding-bottom: 10px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #222222;
  
    @include bgmobile {
      max-width: 155px;
    }
  
    @include tablet {
      margin: 0 auto;
      text-align: center;
      font-size: 20px;
    }
  
    @include desktop {
      width: 80%;
    }
  }
  
  .product__info {
    width: 100%;
    font-family: $arial;
    color: $darkgrey;
  
    & td {
      padding: 0;
      font-size: 12px;
      line-height: 17px;
    }
  
    & td:last-child {
      text-align: right;
    }
  
  
    @include tablet {
      margin-top: 10px;
      margin-bottom: 33px;
  
      & tr {
        border-bottom: 1px solid $border-grey;
      }
  
      & td {
        padding: 8px 0;
        font-size: 16px;
        line-height: 15px;
      }
    }
  }
  
  .product__btn {
    margin: 0 auto;
    min-width: 280px;
    max-width: 480px;
    flex: 1 0 100%;
    z-index: 2;
  
    @include tablet {
      min-width: 248px;
      flex: auto;
    }
  
    @include desktop {
      min-width: 169px;
    }
  }
  