.program-form__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
    @include desktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  .program-form__info {
    flex: 1 0 100%;
  }
  
  .program-form__title {
    margin: 0;
    padding: 27px 0 20px;
    font-size: 36px;
    font-weight: 400;
  
    @include tablet {
      padding: 35px 0;
      font-size: 60px;
    }
  
    @include desktop {
      padding-top: 50px;
    }
  }
  
  .program-form__text {
    margin: 16px 0;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
  
    @include tablet {
      margin: 20px 0;
      font-size: 20px;
      padding-left: 40px;
      line-height: 1.5;
    }
  
    @include desktop {
      padding-left: 0;
    }
  }
  
  .program-form__submit {
    padding-top: 23px;
    padding-bottom: 11px;
  
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-top: 35px;
      padding-bottom: 72px;
    }
  
    @include desktop {
      padding-top: 46px;
      padding-bottom: 82px;
    }
  }
  
  .program-form__submit-btn {
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: $oswald;
    width: 100%;
    margin: 0 auto;
    max-width: 540px;
  
    @include tablet {
      margin-left: 40px;
      margin-right: 60px;
      width: 285px;
      padding: 16px;
      font-size: 20px;
    }
  
    @include desktop {
      margin-left: 0;
      width: 570px;
      margin-right: 80px;
    }
  }
  
  .program-form__note {
    margin: 20px 0;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
  
    sup {
      vertical-align: top;
    }
  
    @include tablet {
      margin: 0;
      font-size: 16px;
      line-height: 1.5;
    }
  }
  