.toggle {
    position: absolute;
    top: 4px;
    right: 0; // -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    width: 30px;
    height: 30px;
    padding: 15px;
    padding-right: 20px;
    background: 0 0;
    border: 0;
    user-select: none;
    margin: 0;
    border-radius: 0;
    font-size: 0;
    line-height: 0;
    outline: none;
    cursor: pointer;
  
    @include tablet {
      display: none;
    }
  }
  
  .toggle__btn {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 2px;
    vertical-align: bottom;
    background: #000000;
    transition: background 0.7s 0.7s;
  }
  
  .toggle__btn::after,
  .toggle__btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000000;
    transform-origin: 50% 50%;
    transition: top 0.5s 0.5s, transform 0.5s;
  }
  
  .toggle__btn::after {
    top: -8px;
  }
  
  .toggle__btn::before {
    top: 8px;
  }
  
  .main-nav--opened .toggle__btn::before {
    transform: rotate3d(0, 0, 1, 45deg);
  }
  
  .main-nav--opened .toggle__btn::after,
  .main-nav--opened .toggle__btn::before {
    top: 0;
    transition: top 0.3s, transform 0.3s 0.5s;
    width: 28px;
  }
  
  .main-nav--opened .toggle__btn::after {
    transform: rotate3d(0, 0, 1, -45deg);
  }
  
  .main-nav--opened .toggle__btn {
    background: 0 0;
    transition: background 0.01s 0.01s;
  }
  